:root {
    --russian-violet: #290e50;
    --ksu-purple: #55269b;
    --blue-violet: #7c3acb;
    --ocean-blue: #5a30cb;
    --orchid-crayola: #f598d7;
    --gray-web: #808080;
}

* {
    font-family: 'Racing Sans One', cursive;
}

body {
    background-color: black;
}

nav {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 100px;
    padding-left: 20px;
}

h1 {
    font-size: 100px;
    color: white;
    filter: none;
    font-family: 'Racing Sans One', cursive;
}

.slogan {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    color: white;
    font-family: 'Racing Sans One', cursive;
    font-size: 20px;
}

#hero {
    padding: 120px;
    background-color: white;
    background-image: url("../images/london.jpg");
    background-position: 50% 80%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #7a7a7a;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h2 {
    font-size: 100px;
    color: white;
    filter: none;
    font-family: 'Racing Sans One', cursive;
}

main {
    background-color: white;
    margin: 15px;
    display: flex;
    border-radius: 5px
}

aside {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-right: black 10px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#city {
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: black;
    font-size: 30px;
}

form label {
    margin-bottom: 8px;
}

form input {
    padding: 10px;
    width: 200px;
    border: black 4px solid;
    border-radius: 10px;
}

aside .cities {
    padding: 20px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    border: black solid 5px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    background-color: var(--gray-web);
    width: 200px;
}

aside .cities:hover {
    color: white;
    border: black solid 5px;
    background-color: var(--ksu-purple);
}

#current {
    display: flex;
    background-color: white;
    color: black;
    border: black solid 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin: 30px;
    margin-bottom: none;
    padding: 15px;
    width: auto;
}

#current h2 {
    font-size: 50px;
    margin: 10px 20px 10px 10px;
}

#current p {
    margin: 15px 30px;
    font-size: 30px
}

#days {
    display: flex;
    margin-bottom: 10px;
}

.day {
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.day:first-of-type {
    margin-left: 30px;
}

.day:last-of-type {
    margin-right: 30px;
}

.day h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.day i {
    margin: 5px;
}

.day p {
    font-size: 15px;
    margin-bottom: 10px;
}

.day p:first-of-type {
    font-size: 15px;
    margin-top: 15px;
}

.title {
    display: flex;
}

.fa-cloud,
.fa-raindrops {
    color: white;
    font-size: 70px;
}

.fa-sun {
    color: yellow;
    font-size: 70px;
}

#days .fa-cloud,
#days .fa-raindrops,
#days .fa-snowflake {
    color: white;
    font-size: 30px;
}

#days .fa-sun {
    color: yellow;
    font-size: 30px;
}

.fa-sun {
    color: #ffdb39 !important;
    font-size: 190px !important;
    text-shadow: 0px 0px 8px black !important;
}

#current .fa-solid {
    margin-top: 10px;
    font-size: 200px;
    margin-left: 80px;
    text-shadow: 0px 0px 10px black;
}