:root {
    --russian-violet: #290e50;
    --ksu-purple: #55269b;
    --blue-violet: #7c3acb;
    --ocean-blue: #5a30cb;
    --orchid-crayola: #f598d7;
    --gray-web: #9d9d9d;
}

* {
    font-family: 'Racing Sans One', cursive;
}

body {
    background-color: var(--ocean-blue);
}

nav {
    padding: 10px;
    background-color: var(--ocean-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 100px;
    padding-left: 20px;
}

h1 {
    font-size: 100px;
    color: white;
    filter: none;
    font-family: 'Racing Sans One', cursive;
}

#hero {
    padding: 150px;
    background-color: var(--gray-web);
    background-image: url("../images/city.jpg");
    background-position: 50% 0%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #646464;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h2 {
    font-size: 100px;
    color: white;
    filter: none;
    font-family: 'Racing Sans One', cursive;
}

main {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    border-radius: 20px;
    display: flex;
}

aside {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-web);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: var(--russian-violet) 5px solid;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--russian-violet);
    font-size: 30px;
}

form label {
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    width: 200px;
    border: #290e50 3px solid;
    border-radius: 10px;
}

aside .cities {
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: var(--ksu-purple);
    width: 200px;
}

#current {
    background-color: var(--gray-web);
    color: var(--russian-violet);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

#current h2 {
    font-size: 50px;
    margin: 10px 20px 30px;
}

#current p {
    margin: 15px 30px;
}

#days {
    display: flex;
    margin-bottom: 10px;
}

.day {
    margin: 10px;
    padding: 30px;
    background-color: var(--russian-violet);
    color: white;
    border-radius: 10px;
}

.day:first-of-type {
    margin-left: 20px;
}

.day h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.day p {
    font-size: 15px;
    padding-bottom: 10px;
}